node_modules
dist
*.tsbuildinfo

logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*

.env
hb-cli.db
hb-cli.db-*
applist.json
hb-cli.log

.DS_Store
Thumbs.db
._*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?